@charset "UTF-8";
/*SE TRAIGA TODO LO QUE ESTA EN ESTOS ARCHIVOS*/ /*PALETA DE COLORES*/
/*TAMAÑO DE FUENTES E ICONOS*/
/*RESOLUCIONES DE PANTALLAS*/
/* SEPARACIONES( MARGENES Y PADDINGS)*/
/*FUENTE*/
/*MIXINS (guardo lo que voy a repertir)*/
* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  background-color: #f9f5e7;
  font-family: "Montserrat", sans-serif;
}

/*ENFOQUE MOBILE FIRST*/
header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #eddbc7;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

h1 {
  color: black;
  font-size: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

h2 {
  color: black;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
}

header div {
  display: flex;
}

ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

li a {
  text-decoration: none;
  color: black;
}

button a {
  text-decoration: none;
  color: black;
}

.aviso-pagina {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #a7727d;
  font-size: 10px;
  text-align: center;
  width: 100%;
  font-weight: 900;
}

.imagen-logo {
  width: 100px;
  height: 100px;
}

.logo-titulo-header {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.lista-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 20px;
}

/*PSEUDOCLASE*/
.lista-menu li:hover {
  background-color: #F9F5E7;
}

.lista-menu li:active {
  background-color: white;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

.icono-whatsapp {
  width: 40px;
}

/*ENFOQUE TABLE*/
@media (min-width: 480px) {
  h2 {
    color: black;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    padding: 50px;
    text-align: center;
  }
  .aviso-pagina {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #a7727d;
    font-size: 10px;
    text-align: center;
    width: 100%;
    font-weight: 900;
  }
  .imagen-logo {
    width: 150px;
    height: 150px;
  }
  .lista-menu {
    flex-direction: row;
    gap: 20px;
  }
  .titulo-productos {
    margin: 20px;
    padding: 20px;
    font-size: 40px;
  }
  .container-opciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
    gap: 60px;
    font-size: 20px;
  }
  .boton {
    background-color: #E4D0D0;
    padding: 10px;
  }
  .d-block {
    width: 500px;
    height: 600px;
    padding: 50px;
  }
  .padre-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .mochilas, .carteras {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    padding: 20px;
    border: solid 1px;
    width: 300px;
  }
  .formulario-página form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 30px;
    gap: 10px;
    font-size: 20px;
  }
}
/*ENFOQUE DESKTOP*/
@media (min-width: 992px) {
  h1 {
    color: black;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  
  .imagen-logo {
    width: 150px;
    height: 150px;
  }
  .lista-menu {
    flex-direction: row;
    gap: 20px;
  }
  .carrusel {
    flex: 1 0 auto;
    margin: 20px 30px;
    width: 300px;
    height: 350px;
  }
  .d-block {
    width: 600px;
    height: 800px;
    padding: 80px;
  }
  .titulo-productos {
    margin: 20px;
    padding: 20px;
    font-size: 40px;
  }
  .container-opciones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 50px;
    gap: 60px;
    font-size: 20px;
  }
  .boton {
    background-color: #E4D0D0;
    padding: 10px;
  }
  .padre-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .mochilas, .carteras {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    padding: 20px;
    border: solid 1px;
    width: 300px;
  }
}
h2 {
  color: black;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  padding: 50px;
  text-align: center;
}

.aviso-pagina {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #a7727d;
  font-size: 10px;
  width: 100%;
  font-weight: 900;
}

.imagen-logo {
  width: 100px;
  height: 100px;
}

.logo-titulo-header {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.lista-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 20px;
}

/*PSEUDOCLASE*/
.lista-menu li:hover {
  background-color: #F9F5E7;
}

.lista-menu li:active {
  background-color: white;
}

.navbar {
  width: 100%;
}

div h3 {
  background-color: white;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.boton-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: none;
}

.borrar-enlace {
  text-decoration: none;
  color: black;
}

button {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.d-block {
  width: 250px;
  height: 300px;
  padding: 20px;
}

#carrusel-imagenes {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  height: 420px;
}

.carrusel {
  flex: 1 0 auto;
  margin: 60px 10px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-carrusel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 280px;
  border: solid;
}

.boton-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  padding: 20px;
  cursor: pointer;
}

.boton-seguinos {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #F9F5E7;
  font-size: 28px;
}

.boton-shimmerbags {
  border: none;
  width: 200px;
  height: 50px;
  background-color: #F9F5E7;
  font-size: 20px;
  font-weight: 700;
}

.footer-pagina {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-boton {
  border: none;
  background-color: #eddbc7;
  padding: 15px;
}

.footer-datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eddbc7;
  padding: 50px;
}

.iconos-chicos {
  height: 20px;
  width: 20px;
}

.btn-wsp {
  position: fixed;
  width: 60px;
  height: 60px;
  line-height: 50px;
  bottom: 50px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.animacion:hover {
  transform: scale(1.2);
}

@media (min-width: 480px) {
  h2 {
    color: black;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    padding: 50px;
    text-align: center;
  }
  .d-block {
    width: 400px;
    height: 700px;
    padding: 60px;
  }
  .aviso-pagina {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #a7727d;
    font-size: 10px;
    text-align: center;
    width: 100%;
    font-weight: 900;
  }
}
@media (min-width: 992px) {
  .titulo-prod-destacados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .d-block {
    width: 600px;
    height: 900px;
    padding: 80px;
  }
}
.color-pagina {
  background-color: rgb(246, 240, 232);
}

.titulo-productos {
  margin: 20px;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

.container-opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  gap: 20px;
  font-size: 12px;
}

.boton {
  background-color: #E4D0D0;
  padding: 10px;
}

.container-opciones label {
  cursor: pointer;
}

.card-imagen {
  width: 200px;
}

.padre-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}

@media (min-width: 480px) {
  .padre-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "card_1 card_2" "card_3 card_4" "card_5 card_6";
    align-items: center;
    justify-self: center;
    gap: 60px;
  }
  .card_1 {
    grid-area: card_1;
  }
  .card_2 {
    grid-area: card_2;
  }
  .card_3 {
    grid-area: card_3;
  }
  .card_4 {
    grid-area: card_4;
  }
  .card_5 {
    grid-area: card_5;
  }
  .card_6 {
    grid-area: card_6;
  }
  .mochilas, .carteras {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border: solid 1px;
    width: 250px;
  }
}
.boton-agregar-carrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/*ocultar los radio*/
#Mochilas, #Carteras, #Riñoneras, #Todos {
  display: none;
}

.carteras, .riñoneras {
  display: none;
}

/*cuando mochilas se selccione, inmediatamente lo que viene dentro del pade card con la clase remera se muestre*/
#Mochilas:checked ~ .padre-cards .mochilas,
#Carteras:checked ~ .padre-cards .carteras #Riñoneras:checked ~ .padre-cards .riñoneras {
  display: flex;
}

#Todos:checked ~ .padre-cards .mochilas,
#Todos:checked ~ .padre-cards .carteras {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
  padding: 20px;
  gap: 40px;
}

.aviso-gift {
  font-size: 20px;
  font-weight: 700;
  color: black;
  background-image: url(../img/fondo-pared-rosaviejojpg.jpg);
}

#carrusel-imagenes-gift {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(246, 240, 232);
  height: 400px;
}

.carrusel-gift {
  flex: 1 0 auto;
  margin: 20px 10px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}

.imagen-carrusel-gift {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border: solid;
}

/*
#carrusel2-imagenes{
    display: grid;
    overflow: scroll;
    grid-template-areas: 
    "gift-cards-3000 gift-cards-5000 gift-cards-10000 gift-cards-15000 gift-cards-20000";

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 200px;
    ;    
}

.gift-cards-3000{
    background-image: url(../img/gift-3000.png);
    grid-area: gift-cards-3000;

}
.gift-cards-5000{
    background-image: url(../img/gift-5000.png);
    grid-area: gift-cards-5000;

}
.gift-cards-10000{
    background-image: url(../img/gift-10000.png);
    grid-area: gift-cards-10000;
}
.gift-cards-15000{
    background-image: url(../img/gift-15000.png) ;
    grid-area: gift-cards-15000;
}
.gift-cards-20000{
    background-image: url(../img/gift-20000.png);
    grid-area: gift-cards-20000;


}

.gift-cards-3000,.gift-cards-5000,.gift-cards-10000,.gift-cards-15000,.gift-cards-20000{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    gap: 20px;


}
*/
.animacion-boton:hover {
  transform: scale(1.2);
}

@media (min-width: 480px) {
  .aviso-gift {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .aviso-gift {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
.contacto-página {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  background-image: url(../img/fondo-pared-rosaviejojpg.jpg);
  font-size: 20px;
  font-weight: 700;
}

.fondo-titulo {
  background-color: #E4D0D0;
}

.formulario-página form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
  padding: 30px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 15px;
}

.cajita-formulario {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

/* ver porque no me lo toma*/
.boton-enviar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
}

/*PÁGINA CONTACTO*/
.informacion-pagina {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #F9F5E7;
}

.informacion-pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-pasos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.iconos {
  width: 80px;
  height: 80px;
}

.informacion-pagina {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 50px;
}

.informacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.aviso-importante {
  font-size: 20px;
}

.informacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

#error-404 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

/*# sourceMappingURL=styles.css.map */
