*{
    margin: 0;
    padding: 0;
}

body{
    color: black;
    background-color: #F9F5E7;
    font-family: 'Montserrat', sans-serif;
}



/*ENFOQUE MOBILE FIRST*/
header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:#eddbc7;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: black;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    color: black;

    font-size: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    padding: 50px;

}

header div{
    display: flex;
}

ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.aviso-pagina{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color:#a7727d;
    font-size: 10px;
    padding: 3px;
    width: 100%;
    font-weight: 900;
}

.imagen-logo{
    width: 100px;
    height: 100px;
    

}


.lista-menu{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 16px;
    padding: 20px;


    
}
/*PSEUDOCLASE*/

.lista-menu li:hover{
    background-color: #F9F5E7;
    
}

.lista-menu li:active{
    background-color: white;
}
.lista-menu li:first-child{
    background-color: aqua; /* prueba de como funciona*/

}
.lista-menu li:nth-child(2){
    background-color: aqua; 
} 

/*estilo a los pares
.lista-menuli:nth-child(even)*/
/*estilo a los impares
.lista-menu li:nth-child(odd)*/


/*PAGINA INDEX*/
.navbar{
    width: 100%;
}
div h3{
    background-color:white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.boton-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border: none;
}

.borrar-enlace{
    text-decoration: none;
    color: black;
}

button{
    padding: 10px;
    font-size: 15px;
    cursor: pointer;

}

#carrusel-imagenes {
    display:flex;
    
    flex-wrap: nowrap;
    overflow: scroll;

    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:white;
}
.carrusel{
    flex: 1 0 auto;
    margin: 20px 30px;

    width: 300px;
    height: 350px;

}


.boton-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 20px;
    cursor: pointer;

}

.boton-seguinos{
    display: flex;
    justify-content: center;
    border: none;
    background-color:#F9F5E7;
    font-size: 28px;
    
}
.boton-shimmerbags{
    border: none;
    background-color:#F9F5E7;
    font-size: 25px;
    font-weight:700;
}



/*PAGINA NUEVA COLECCIÓN*/ 
.titulo-productos{
    margin: 20px;
    padding: 20px;
}


.container-opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    gap: 20px;
    font-size: 12px;

}

.boton{
    background-color:#E4D0D0;
    padding: 10px;
}

.container-opciones label{
    cursor: pointer;
}

.container-opciones label:nth-child(odd){
    background-color:
}


.padre-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    

}

.mochilas,.carteras{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border: solid 1px; 
    width: 250px;
}

.boton-agregar-carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*ocultar los radio*/

#Mochilas,#Carteras,#Riñoneras,#Todos{
    display: none;
}

.carteras,.riñoneras{
    display: none;
}

/*cuando mochilas se selccione, inmediatamente lo que viene dentro del pade card con la clase remera se muestre*/

#Mochilas:checked ~ .padre-cards .mochilas,
#Carteras:checked ~ .padre-cards .carteras
#Riñoneras:checked ~ .padre-cards .riñoneras{
    display: flex;
}

#Todos:checked ~ .padre-cards .mochilas,
#Todos:checked ~ .padre-cards .carteras{
    display: flex;
}



/*PAGINA GIFT CARDS*/

#carrusel2-imagenes{
    display: grid;
    overflow: scroll;
    grid-template-areas: 
    "gift-cards-3000 gift-cards-5000 gift-cards-10000 gift-cards-15000 gift-cards-20000";

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;

}

.gift-cards-3000{
    background-image: url(../img/gift-3000.png);
    grid-area: gift-cards-3000;
}
.gift-cards-5000{
    background-image: url(../img/gift-5000.png);
    grid-area: gift-cards-5000;

}
.gift-cards-10000{
    background-image: url(../img/gift-10000.png);
    grid-area: gift-cards-10000;
}
.gift-cards-15000{
    background-image: url(../img/gift-15000.png) ;
    grid-area: gift-cards-15000;
}
.gift-cards-20000{
    background-image: url(../img/gift-20000.png);
    grid-area: gift-cards-20000;
    

}

.gift-cards-3000,.gift-cards-5000,.gift-cards-10000,.gift-cards-15000,.gift-cards-20000{
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    gap: 20px;


}




/*PAGINA CONTACTO*/

.contacto-página{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 50px ;
    
    font-size: 20px;

}
.formulario-página form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 40px 40px ;
    padding: 30px;
    align-items: center;
    gap: 10px;

    font-size: 25px;
}



.cajita-formulario{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
        
}

/* ver porque no me lo toma*/
.boton-enviar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    cursor: pointer;
    border-radius: 20px;
    
    
}



/*PÁGINA CONTACTO*/

.informacion-pagina {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F9F5E7;
}

/*ENFOQUE TABLE*/

@media (min-width: 480px) {
    .imagen-logo{
        width: 150px;
        height: 150px;
        
    
    }
    
    .lista-menu{
        flex-direction: row;
        gap:20px;
    }
    
    .titulo-productos{
        margin: 20px;
        padding: 20px;
        font-size: 40px;
    }

    .container-opciones{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 50px;
        gap: 60px;
        font-size: 20px;
    
    }
    
    .boton{
        background-color:#E4D0D0;
        padding: 10px;
    }

    .padre-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 60px;
        
    
    }
    
    .mochilas,.carteras{
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: white;
        padding: 20px;
        border: solid 1px; 
        width: 300px;
    }
    
    
}



/*ENFOQUE DESKTOP*/

@media (min-width: 992px) {
    .imagen-logo{
        width: 200px;
        height: 200px;
        
    }
    
    .lista-menu{
        flex-direction: row;
        gap: 20px;
    }




    .carrusel{
        flex: 1 0 auto;
        margin: 20px 30px;
    
        width: 300px;
        height: 350px;
    
    }

    .titulo-productos{
        margin: 20px;
        padding: 20px;
        font-size: 40px;
    }

    .container-opciones{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 50px;
        gap: 60px;
        font-size: 20px;
    
    }
    
    .boton{
        background-color:#E4D0D0;
        padding: 10px;
    }

    .padre-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 60px;
        
    
    }
    
    .mochilas,.carteras{
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: white;
        padding: 20px;
        border: solid 1px; 
        width: 300px;
    }
    
}