*{
    margin: 0;
    padding: 0;
}

body{
    color: $color-primario;
    background-color: $color-terceario;
    font-family: $fuente-principal;
}



/*ENFOQUE MOBILE FIRST*/
header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:$color_secundario;
    width: 100%;
    @include flex-columna;

}

h1{
    color: black;
    font-size: 28px;
    @include flex-fila;
    
}

h2{
    color: black;

    font-size: 25px;
    @include flex-fila;    
    padding: 50px;
    text-align: center;
}

header div{
    display: flex;
}

ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

li a{
    text-decoration: none;
    color:black;
}
button a{
    text-decoration: none;
    color: black;
}

.aviso-pagina{
    @include flex-fila;
    background-color:#a7727d;
    font-size: 10px;
    padding: 3px;
    width: 100%;
    font-weight: 900;
}

.imagen-logo{
    width: 100px;
    height: 100px;
    
}

.logo-titulo-header{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.lista-menu{
    @include flex-columna;
    font-size: 16px;
    padding: 20px;


    
}
/*PSEUDOCLASE*/

.lista-menu li:hover{
    background-color: #F9F5E7;
    
}

.lista-menu li:active{
    background-color: white;
}


.btn-wsp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;

}
.icono-whatsapp{
    width: 40px;


}





/*ENFOQUE TABLE*/

@media (min-width: 480px) {
    .imagen-logo{
        width: 150px;
        height: 150px;
        
    
    }
    
    .lista-menu{
        flex-direction: row;
        gap:20px;
    }
    
    .titulo-productos{
        margin: 20px;
        padding: 20px;
        font-size: 40px;
    }

    .container-opciones{
        @include flex-fila;
        text-align: center;
        margin: 50px;
        gap: 60px;
        font-size: 20px;
    
    }
    
    .boton{
        background-color:#E4D0D0;
        padding: 10px;
    }

    .d-block {
        width: 500px;
        height: 600px;
        padding: 50px;
    }

    .padre-cards {
        @include flex-fila;
        gap: 60px;
        
    
    }
    
    .mochilas,.carteras{
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: white;
        padding: 20px;
        border: solid 1px; 
        width: 300px;
    }
    
    .formulario-página form{
        @include flex-columna;
        margin: 20px;
        padding: 30px;
        gap: 10px;
    
        font-size: 20px;
    }
}



/*ENFOQUE DESKTOP*/

@media (min-width: 992px) {
    .imagen-logo{
        width: 150px;
        height: 150px;
    
        
    }
    
    .lista-menu{
        flex-direction: row;
        gap:20px;
    }

    


    .carrusel{
        flex: 1 0 auto;
        margin: 20px 30px;
    
        width: 300px;
        height: 350px;
    
    }
    .d-block {
        width: 600px;
        height: 800px;
        padding: 80px;
        
    }

    .titulo-productos{
        margin: 20px;
        padding: 20px;
        font-size: 40px;
    }

    .container-opciones{
        @include flex-fila;
        margin: 50px;
        gap: 60px;
        font-size: 20px;
    
    }
    
    .boton{
        background-color:#E4D0D0;
        padding: 10px;
    }

    .padre-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 60px;
        
    
    }
    
    .mochilas,.carteras{
        display: flex;
        flex-direction: column;
        gap: 30px;
        background-color: white;
        padding: 20px;
        border: solid 1px; 
        width: 300px;
    }
    
}



