

.color-pagina{
    background-color:rgb(246, 240, 232);

}

.titulo-productos{
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}


.container-opciones{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin: 20px;
gap: 20px;
font-size: 12px;

}

.boton{
background-color:#E4D0D0;
padding: 10px;
}

.container-opciones label{
cursor: pointer;
}


.card-imagen{
    width: 200px;
}

.padre-cards {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
font-size: 14px;
gap:30px;

}

.mochilas,.carteras{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border: solid 1px; 
    width: 250px;

    }


@media (min-width: 480px){
    .padre-cards{
        display: grid;
        
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        grid-template-areas: 
        "card_1 card_2" 
        "card_3 card_4"
        "card_5 card_6";
        align-items: center;
        justify-self: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px;
        margin: 30px;
        padding: 30px;
        position:static;
        align-self:center;
    }
    .card_1{
        grid-area: card_1;
    }
    .card_2{
        grid-area: card_2;
    }
    .card_3{
        grid-area: card_3;
    }
    .card_4{
        grid-area: card_4;
    }
    .card_5{
        grid-area: card_5;
    }
    .card_6{
        grid-area: card_6;
    }



    .mochilas,.carteras{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border: solid 1px; 
    width: 250px;
    }

}

.boton-agregar-carrito{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 20px;
}

/*ocultar los radio*/

#Mochilas,#Carteras,#Riñoneras,#Todos{
display: none;
}

.carteras,.riñoneras{
display: none;
}

/*cuando mochilas se selccione, inmediatamente lo que viene dentro del pade card con la clase remera se muestre*/

#Mochilas:checked ~ .padre-cards .mochilas,
#Carteras:checked ~ .padre-cards .carteras
#Riñoneras:checked ~ .padre-cards .riñoneras{
display: flex;
}

#Todos:checked ~ .padre-cards .mochilas,
#Todos:checked ~ .padre-cards .carteras{
display: flex;
}


