
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    padding: 20px;
    gap: 40px;
}